.sac-pilatus-event-stat--headline {
    margin-top: 48px;

    &:first-child {
        margin-top: 16px;
    }
}

.sac-pilatus-event-stat--data-table {
    margin: 10px 0 8px 0;

    & td, & th {
        padding: 8px;
        border: 1px solid #ccc;
    }
}

.sac-pilatus-event-stat--data-table--data-cell {
    text-align: end;
}

.sac-pilatus-event-stat--small-text {
    font-size: smaller;
    line-height: 1.4;
}
